
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20%  auto;
}

.page-container{
   display:flex;
   /* background: aqua; */
   height:87vh;
   padding: 1em 1.2em;
 
  
}

.danger{
    color: red;
}
.info{
    color:blue
}

.go{
    color:green;
}

.black{
    color:#000;
}

.button{
    padding: 0.5em 0.8em;
    text-transform: capitalize;
    min-width: 5em;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

}
.button:hover{
    opacity: 0.7;
    transition: ease 1s;
}


/* Table styles  */


.table-container{
    max-height: 75%;
    overflow-y:scroll;
}
.table-container table{
    width:100%;
    border-collapse: collapse;
}
.table-container tbody{
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
  

}

.table-container thead{
    background: #074734d9;
    color:#fff;
}

.table-container th,  .table-container td{
    padding:0.5em 0.3em;
    text-align: left;
}

.table-container td{
    font-size: 15px;
    color:#000;
}
.table-container tr:nth-child(even){
    background: #f0f0f0;

}


.table-container tfoot{
    background: #074734d9;
    font-weight:bold;
    color:#fff;
}

.table-container tfoot td{
    color:#fff;
}


.tabular-wrapper{
    margin-top: 0.5rem;
    background: #fff;
    padding:1em;
    border-radius: 5px;
    width:100%;
}




.tabular-wrapper .filter-section{
    padding-bottom: 0.5em;
    
}
.tabular-wrapper .filter-section button{
    margin-left: 1em;
}

.filter-section{
    width: 100%;
}

.filter-section .add-button, .filter-section .table-search{
    text-align: end;
}
.filter-section tr{
    display:flex;
    gap:1.5em;
    text-align: center;
    justify-content: center;
}
.filter-section td{
    display: flex;
    gap: 0.6em;
    align-items:center;
    justify-content: center;
}

.filter-section .table-search{
    display:flex;   
    justify-content: end;
}

.filter-section .table-search input{
    width: 100%;
}

.filter-section #select-container,
.filter-section #input-container{
    padding: 0.1em;
    margin-bottom: 0;
   
    
   
}

.filter-section  .table-search #input-container{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:20%;
}


.filter-section #select-container select, 
.filter-section .table-search input{   
    font-size: 15px;
    margin-bottom: 0;    
   
 }



 /* mobile size styles  */
@media (max-width: 480px) {

    .table-container td,
    .table-container th{
        font-size: 11px;
        
    }

    .filter-section #select-container select, 
    .filter-section .table-search input{   
        font-size: 12px;
        margin-bottom: 0;    
    
    }

    .filter-section .add-button{
        display: none;
    }


}

