
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20%  auto;
}

.page-container{
   display:flex;
   /* background: aqua; */
   height:87vh;
   padding: 1em 1.2em;
 
  
}

.danger{
    color: red;
}
.info{
    color:blue
}

.go{
    color:green;
}

.black{
    color:#000;
}

.button{
    padding: 0.5em 0.8em;
    text-transform: capitalize;
    min-width: 5em;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

}
.button:hover{
    opacity: 0.7;
    transition: ease 1s;
}