/* Alert container styles */
#alert-container, 
#custom-alert,
#alert-buttons{
    display: flex;
    align-items: center;
}




#alert-container{
    position :fixed;
    top:0;
    left:0;
    bottom: 0;
    background: #07473479;
    height: 100vh;
    width:100%;
    justify-content: center;
    z-index:3;
}


.dialogue-container{
    position :fixed;
    top:0;
    left:0;
    bottom: 0;
    background: #07473453;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:3;
}


#custom-alert{
    position:absolute;
    background: #fff;
    padding: 10px;
    width: 300px;
    height: 15vh;
    border-radius: 5px;   
    flex-direction: column;
    justify-content: space-around;
  
    
}

#alert-buttons{
    gap:2em;
}

#alert-buttons button{
    padding: 0.4em;
    gap:1em;
    font-weight: bold;
    width:5em;
    cursor: pointer;
}


/* 

InputComponet styles 

*/
#input-container, #select-container{
    margin-bottom: 1em;
    background: #fff;
    /* min-width: 120px; */
}

#input-container .wrapper, #select-container .wrapper{
    width: 100%;   
    display:flex;
    align-items: center;
    padding: 0.3em;   
    border:1px solid #000;
    border-radius: 2px;
}

#input-icon, #password-icon{
    font-size: 0.9em;
    margin-right: 0.2em;
}
#input-error{
    color:red;
    font-size: 0.7em;
    font-weight: bold;
  
}


#select-container select , input{
   color:#000;
   background: #fff;
   font-size: 1em;
   width:100%;
}




/* 

Button Component

*/

#submit{
    color:#fff;
    background: #15814cfb;
}

#info{
    color:#fff;
    background: #0f4fd8;
}




/*

TableComponent styles

*/

#member-click{
    cursor: pointer;
    color: blue;
    text-transform: capitalize;
}
#permission-table{
    width: 100%;
}
#permission-table .table-container {
    overflow-y:hidden;
}



#permission-table .table-container th, 
#permission-table .table-container td{
    text-align:left;     
    border:none;
}


#permission-table,
#permission-table .table-container tr,
#permission-table .table-container tr:nth-child(even){
    background: #F4F9FD;
}

#permission-table .table-container thead{
    background: #F4F9FD;
    color:#000;
}
#permission-table  #select-container{
    margin-bottom: 0;
    padding:0.1em;
    width:120px;
}



 #setting-container #data-section #users .filter-section  .table-search #input-container{
   
    width:70%;
    font-size: 14px;
    
}

/*
SMS dialogue
*/

#sms-dialogue{
    position: absolute;
    top: 15%;
    right:20px;
    background: #F4F9FD;
    padding:1em;    
    width:410px;
    border-radius: 5px;
    

}
#sms-dialogue h3{
    color:#074734;
}
#sms-dialogue #message-box{
    padding: 0.5em 0;
}

#sms-dialogue .email-inputs #input-container .wrapper{
    border:none;
}

#sms-dialogue .email-inputs #input-container .wrapper input,
#sms-dialogue #message-box textarea{
    background-color: #FFF;
    padding:0.3em;
    font-size: 15px;
}
#sms-dialogue #message-box p{
    text-align: end;
    font-size: .8em;
}
#sms-dialogue #msg-buttons button{
    margin-right: 3em;
}


/*
Print selection component
*/


.field-selection-dialogue{
    position:absolute;
    background-color: #fff;
    padding:1em;
    width: 450px;
    border-radius: 5px;

}

.field-selection-dialogue h4{
    font-size: larger;
    margin-bottom: 1em;

}

.field-selection-dialogue .fields{
    padding: 1em 0;    
    display: flex;    
    flex-wrap: wrap;
    gap: 1em;
}
.field-selection-dialogue .fields .field-item{
    display:flex;
    padding:0.3em 0;
    /* background: #074734; */
    min-width:120px;
}
.field-selection-dialogue .fields .field-item label{
    margin-left: 8px;
}

.field-selection-dialogue .fields .field-item input{
    width:auto;
}


 /*
 
 Registration Components
 
 */

#relation-form, #face-form, #bio-form, #inst-form{
    position:absolute;
    background-color: #fff;
    padding:1em;
    width: 550px;
    border-radius: 5px;

}

#relation-form .form-inputs,
#inst-form .form-inputs,
#bio-form .form-inputs,
#face-form .form-inputs{
    max-height: 40vh;
    overflow-y: scroll;
}

#inst-form .form-inputs .form-item,
#relation-form .form-inputs .form-item{
    display: flex;    
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5em;    
    border: 1px solid #ebe2ea;
    margin:0.2em;
    
}

#relation-form .form-inputs .form-item #select-container,
#relation-form .form-inputs .form-item #input-container,
#inst-form .form-inputs .form-item #select-container,
#inst-form .form-inputs .form-item #input-container{
    width:45%;
    margin-bottom: 0;
}


#face-form .form-inputs .form-item #select-container,
#bio-form .form-inputs .form-item #select-container,
#bio-form .form-inputs .form-item #input-container,
#face-form .form-inputs .form-item #input-container{
    margin-bottom: 0;
}


.model-footer{
    /* padding-left:1em; */
    margin-top:1em;
    display: flex;
    gap:2em;
}

.model-footer button{
    min-width: 100px;
}


#relation-form > div > h4,
#inst-form > div > h4,
#face-form > div > h4,
#bio-form > div > h4{
    padding:0.5em;
    /* margin-bottom: 0.6em; */
    font-size: larger;
}



.form-inputs{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    gap:1em;
   
    
}
.form-item{
    
    width: 220px;
}



/* User Role Component  */
.table-container #select-container{
    margin-bottom: 0;
    padding: 0;
    max-width: 150px;
}
.table-container #select-container .wrapper{
    
    border:none;
}

.table-container #select-container  .wrapper select{
    background: transparent;
    font-size: 15px;
}




/*  Course auto complete field  */

#course-input {
    position:relative;
}

#course-input #suggestion-list{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    /* border: 1px solid #F4F9FD; */
    list-style: none;
    background: #fff;
    max-height: 20vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#course-input #suggestion-list li {
    padding:5px;
    cursor: pointer;
    border: 1px solid #F4F9FD;

}

#course-input #suggestion-list li:hover{
    border: 1px solid #f666f6;
}




/*

Dashboard styles
*/
#dashboard-wrapper{
    width: 100%;
}

 #events-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;   
    width:100%;
}


#events-section .carousel-container {
    display: flex;
    align-items: left;
    justify-content: center;
    gap: 10px;
}

#events-section .carousel-item {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    position:relative;
    color:#fff;
    opacity: 0.6;
    border-radius: 5px;
    overflow: hidden;
}

#events-section .carousel-item.large {
    transform: scale(1.5);
    opacity: 1;
    width: 250px;
    height: 150px;
}

#events-section .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#events-section .carousel-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    background: #074734a4; /* Semi-transparent background for better text readability */
    padding: 5px;
    border-radius: 5px;
}



#events-section  .carousel-item.large .carousel-text h2 {   
    font-size: 14px;
}

#events-section   .carousel-text h2 {   
    font-size: 10px;
}


#events-section  .carousel-item.large .carousel-text .description {
    margin: 5px 0;
    font-size: 8px;
    color:#F4F9FD;
    display: block;
}

#events-section .carousel-text .description {
   display: none;
}

#events-section .carousel-item.large .carousel-text .footer p{
    font-size: 10px;
    display: block;
}

#events-section .carousel-text .footer p{
    display: none;
}

#events-section .carousel-text .footer{
    
    margin-top: 5px;
    font-weight: bold;

}
#dashboard-wrapper #bottom-section{
    margin-top: 1em;
    display: flex;
    height: 50%;
    width:100%;
   
}

/* Container for the entire list and details */
#daily-activities .day-container {
    display: flex;
    height: 300px; /* You can adjust this height */
    border: 1px solid #ccc;
}
  
  /* Day list on the left */
#daily-activities .day-list {
    width: 30%;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
}
  
#daily-activities .day-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
  
#daily-activities .day-item:hover {
    background-color: #e0e0e0;
}
  
#daily-activities .active {
    background-color: #d4d4d4;
}
  
  /* Details section on the right */
  #daily-activities .day-details-container {
    flex-grow: 1;
    background-color: #e9e9e9;
    padding: 20px;
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  /* Styles for the details of the selected day */
  #daily-activities .day-details {
    
    font-size: 18px;
    color: #333;
    width:100%;
  }
  
  #daily-activities .day-details-placeholder {
    font-size: 16px;
    color: #888;
  }
  






/* Toggle Switch styles  */
.toggle-switch .switch {
    position: relative;
    display: inline-block;
    width: 70px; /* Switch width */
    height: 30px;
}

.toggle-switch .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #15814cfb;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px; /* Ensure it starts at the extreme left */
    bottom: 2px;
    background-color: #f0f0f0;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-switch input:checked + .slider {
    background-color: #2196F3;
}

.toggle-switch input:checked + .slider:before {
    -webkit-transform: translateX(40px); /* Moves to extreme right */
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

/* Focus effect */
.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

/* Tablet size styles  */
@media (max-width: 768px) {

    #custom-alert{
        width: 35vw;          
       
    }

    #face-form, #relation-form, 
    #bio-form, #inst-form{
        width:350px;
    }
   
   
}







/* mobile size styles  */
@media (max-width: 480px) {

    #custom-alert{
        width: 50vw;          
       
    }

    #face-form, #relation-form, 
    #bio-form, #inst-form{
        max-width:350px;
        margin:0.2em;
    }
   

    #relation-form .form-inputs {
        max-height: 55%;
        overflow-y: scroll;
    }

    #bio-form .form-inputs,
    #face-form .form-inputs{
        display: flex;
        flex-wrap: wrap;
        max-height: 55%;
        overflow-y: scroll;
    }

    #bio-form .form-inputs .form-item,
    #face-form .form-inputs .form-item{
        width:45%;
    }


     /* filter table */

     .filter-section #filter-table{
        display:none;
    }


    .filter-section .table-search #input-container{
        width:85%;
    }

    #relation-form > div > h4,
    #inst-form > div > h4,
    #face-form > div > h4,
    #bio-form > div > h4{
        padding:0.4em 0 ;
        /* margin-bottom: 0.6em; */
        font-size:large;
    }

     
    .model-footer .button{
        padding: 0.3em 0.5em;
        min-width: 70px;
    }


    

    

    
   

    

}