/* Alert container styles */
#alert-container, 
#custom-alert,
#alert-buttons{
    display: flex;
    align-items: center;
}




#alert-container{
    position :fixed;
    top:0;
    left:0;
    bottom: 0;
    background: #07473453;
    height: 100vh;
    width:100%;
    justify-content: center;
    z-index:3;
}


#custom-alert{
    position:absolute;
    background: #fff;
    padding: 10px;
    width: 20vw;
    height: 15vh;
    border-radius: 5px;   
    flex-direction: column;
    justify-content: space-around;
    
    
}

#alert-buttons{
    gap:2em;
}

#alert-buttons button{
    padding: 0.4em;
    gap:1em;
    font-weight: bold;
    width:5em;
    cursor: pointer;
}


/* 

InputComponet styles 

*/
#input-container, #select-container{
    margin-bottom: 1em;
    /* min-width: 120px; */
}

#input-container .wrapper, #select-container .wrapper{
    width: 100%;   
    display:flex;
    align-items: center;
    padding: 0.3em;   
    border:1px solid #000;
    border-radius: 2px;
}

#input-icon, #password-icon{
    font-size: 0.9em;
    margin-right: 0.2em;
}
#input-error{
    color:red;
    font-size: 0.7em;
    font-weight: bold;
  
}


#select-container select , input{
   color:#000;
   background: #fff;
   font-size: 1em;
   width:100%;
}




/* 

Button Component

*/

#submit{
    color:#fff;
    background: blue;
}




/*

TableComponent styles

*/

#member-click{
    cursor: pointer;
    color: blue;
    text-transform: capitalize;
}
#permission-table{
    width: 100%;
}
#permission-table .table-container {
    overflow-y:hidden;
}



#permission-table .table-container th, 
#permission-table .table-container td{
    text-align:left;
    padding:0.5em;
}


#permission-table,
#permission-table .table-container tr,
#permission-table .table-container tr:nth-child(even){
    background: #F4F9FD;
}

#permission-table .table-container thead{
    background: #F4F9FD;
    color:#000;
}
#permission-table  #select-container{
    margin-bottom: 0;
    padding:0.1em;
    width:120px;
}



 #setting-container #data-section #users .filter-section  .table-search #input-container{
   
    width:70%;
    font-size: 14px;
}



 /*
 
 Registration Components
 
 */

#relation-form, #face-form, #bio-form, #inst-form{
    position:absolute;
    background-color: #fff;
    padding:1em;
    width: 550px;
    border-radius: 5px;

}

#relation-form .form-inputs,
#inst-form .form-inputs,
#bio-form .form-inputs,
#face-form .form-inputs{
    max-height: 40vh;
    overflow-y: scroll;
}

#inst-form .form-inputs .form-item,
#relation-form .form-inputs .form-item{
    display: flex;    
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5em;    
    border: 1px solid #ebe2ea;
    margin:0.2em;
    
}

#relation-form .form-inputs .form-item #select-container,
#relation-form .form-inputs .form-item #input-container,
#inst-form .form-inputs .form-item #select-container,
#inst-form .form-inputs .form-item #input-container{
    width:45%;
    margin-bottom: 0;
}


#face-form .form-inputs .form-item #select-container,
#bio-form .form-inputs .form-item #select-container,
#bio-form .form-inputs .form-item #input-container,
#face-form .form-inputs .form-item #input-container{
    margin-bottom: 0;
}


.model-footer{
    padding:1em;
    display: flex;
    gap:4em;
}

.model-footer button{
    min-width: 100px;
}


#relation-form > div > h4,
#inst-form > div > h4,
#face-form > div > h4,
#bio-form > div > h4{
    padding:0.5em;
    /* margin-bottom: 0.6em; */
    font-size: larger;
}



.form-inputs{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    gap:1em;
   
    
}
.form-item{
    
    width: 220px;
}



/* User Role Component  */
.table-container #select-container{
    margin-bottom: 0;
    padding: 0;
    max-width: 150px;
}
.table-container #select-container .wrapper{
    
    border:none;
}

.table-container #select-container  .wrapper select{
    background: transparent;
    font-size: 15px;
}




/*  Course auto complete field  */

#course-input {
    position:relative;
}

#course-input #suggestion-list{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    /* border: 1px solid #F4F9FD; */
    list-style: none;
    background: #fff;
    max-height: 20vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#course-input #suggestion-list li {
    padding:5px;
    cursor: pointer;
    border: 1px solid #F4F9FD;

}

#course-input #suggestion-list li:hover{
    border: 1px solid #f666f6;
}

   

/* Tablet size styles  */
@media (max-width: 768px) {

    #custom-alert{
        width: 35vw;          
       
    }
   
   
}





/* mobile size styles  */
@media (max-width: 480px) {

    #custom-alert{
        width: 50vw;          
       
    }

    #face-form, #relation-form, 
    #bio-form, #inst-form{
        width:400px;
    }
   

    #relation-form .form-inputs {
        max-height: 55%;
        overflow-y: scroll;
    }

    #bio-form .form-inputs,
    #face-form .form-inputs{
        display: flex;
        flex-wrap: wrap;
        max-height: 55%;
        overflow-y: scroll;
    }

    #bio-form .form-inputs .form-item,
    #face-form .form-inputs .form-item{
        width:45%;
    }
   

    

}