#profile-container{

    display: flex;
    flex-wrap: wrap;    
    gap: 1em;    
    width:100%;
    overflow-y: scroll;
    height:95%;
    
    
}

.profile-item .details h4{
    font-size: 1em;
    font-weight: bold;
    padding:2px;

}
.profile-item .details p{
    padding: 2.2px;
}

.profile-item .details div{
    margin-top: 0.8em;
}

.profile-item{
    padding: 0.5em;
    border: 1px solid #f0f0f0;
    min-width: 45%;
    position: relative  
}
.profile-item .edit-icon{
    position:absolute;
    top:0;
    right:0;
    color:blue;
}
#prof-svg{
    width: 90%;
    display: flex;
    justify-content: center;
}

#prof-svg svg{
    font-size: 6em;
    
}




/* Tablet size styles  */
@media (max-width: 768px) {
    #profile-container{
        justify-content: center;       
        
    }
    .profile-item .details h4{
        font-size: 1.1em;
     
    }
    .profile-item{
        width: 85%;         
    }
    
   
}





/* mobile size styles  */
@media (max-width: 480px) {

    #custom-alert{
        width: 50vw;          
       
    }

}