
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width:100vw;
  height: 100vh;
}


input, select{
  padding: 3px 5px;
  margin:4px;
  flex-grow: 1;
  font-size: medium; 
}

